<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72044258983-ed92jt3det75aai9c7fnr260o2lpi11h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72044258983-ed92jt3det75aai9c7fnr260o2lpi11h</string>
	<key>API_KEY</key>
	<string>AIzaSyDAy228ek2B8bSmt3nAlOaUDEilKgF1yR8</string>
	<key>GCM_SENDER_ID</key>
	<string>72044258983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-20e01</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-20e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72044258983:ios:8ab2866381eb3cee865d82</string>
</dict>
</plist>